SECRET_KEY=secret-key-here
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
ALLOW_ALL_ORIGINS=True

#CSRF_TRUSTED_ORIGINS=trusted-origins
#JWT_AUDIENCE=audience

#DATABASE_ENGINE=django.db.backends.postgresql
#DATABASE_NAME=postgres
#DATABASE_USER=postgres
#DATABASE_PASSWORD=db-password-here
#DATABASE_HOST=db
#DATABASE_PORT=5432
